<h1>Edit page</h1>

<%= simple_form_for @page do |f| %>

	<%= render partial: "form", locals: { f: f } %>
	
	
	<button type="button" class="btn btn-error"><%= f.submit "Save Changes" %></button>

<% end %>